<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
    <title>Document</title>
  </head>
  <body>

    <nav class='nav-bar'>
      <div class='div-logo'>
        <img class='logo' src='{{data.user.profilePic}}' />

        <h1 class='head'>Welcome 
          <a
            href='/edit-user/{{data.user._id}}'
          >{{data.user.firstName}}</a></h1>
      </div>
      <h2>Balance: {{data.budget}}€ </h2>

      <div class='btn-home'>
        <button class='btn'> <a href='/logout'>Logout</a></button>
      </div>
    </nav>
    
    <div class="dashboard">

       <div class='container'>
       <canvas id='myChart'></canvas>
       </div>

    <div class="entries">
    <button class='btn btn-entry'><a href='/new-entry'> Add entry</a> </button>

    
    {{#each data.user.entries}}
      <p>{{this.date}} </p>
      <p>{{this.amount}}€ </p>
      <p>{{this.category}} </p>
      <p>{{this.location}} </p>
      <p>{{this.type}} </p>

      <button class='btn btn-entry'><a href='/edit-entry/{{_id}}'> Edit entry</a></button>
      <button class='btn btn-entry'></button><a href='/delete-entry/{{_id}}'> Delete entry</a></button>
      
    {{/each}}

     </div>

    <script>
      let myChart = document.getElementById('myChart').getContext('2d'); let
      popChart = new Chart(myChart, { type: 'bar', data: { labels:['Boston',
      'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'],
      datasets:[{ label: 'Population', data: [617594, 181045, 153060, 106519,
      105162, 95072], backgroundColor:'green' }] }, options:{} })
    </script>

    <script>
      const myChart = new Chart( document.getElementById('myChart'), config );
    </script>

  </body>
</html>