

<h1>Welcome <a href="/edit-user/{{_id}}"></a>{{firstName}}</a></h1>

<button><a href="/new-entry"> Add entry</a> </button>

{{#each entries}}
<p>{{this.date}} </p>
<p>{{this.amount}} </p>
<p>{{this.category}} </p>
<p>{{this.location}} </p>
<p>{{this.type}} </p>

{{/each}}




<button> <a href='/logout'>Logout</a></button>
