

<h1>Welcome <a href="/edit-user/{{_id}}"></a>{{firstName}}</a></h1>

<button class="btn"><a href="/new-entry"> Add entry</a> </button>

{{#each entries}}
<p>{{this.date}} </p>
<p>{{this.amount}} </p>
<p>{{this.category}} </p>
<p>{{this.location}} </p>
<p>{{this.type}} </p>

<button class="btn"><a href="//edit-entry/{{_id}}"> Edit entry</a> </button>
<button class="btn"><a href="/delete-entry({{_id}}"> Delete entry</a> </button>

{{/each}}




<button> <a href='/logout'>Logout</a></button>
