

<form action="/edit-user/{{_id}}" method='POST'>

  <label for='firstName'>First Name:</label>
  <input type='text' name='firstName' id='firstName' value="{{this.firstName}}" />

  <label for='lastName'>Last Name:</label>
  <input type='text' name='lastName' id='lastName' value="{{this.lastName}}" />

  <label for='email'>Email:</label>
  <input type='email' name='email' id='email' value="{{this.email}}" />

  <label for='password'>Password:</label>
  <input type='password' name='password' id='password' value="{{this.password}}" />

 {{!--  <label for='profilePic'>Profile Picture:</label>
  <input type="file" > --}}

  <button class="btn" type='submit'>Update User</button>

